body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #454545;
}

h1{
	margin: 0;
}

input{
	padding: 4px;
	font-size: 11px;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-bottom: 3px;
}

button{
	background: #3689e1;
	border: 1px solid #3689e1;
	height: 22.66px;
	border-radius: 0 3px 3px 0;
	margin-left: -5px;
}

button:hover{
	cursor: pointer;
}

button img{
	height: 10px;
}

.subheading{
	font-size: 12px;
	margin-bottom: 8px;
}

.widget{
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	max-width: 225px;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#timesbox{
	margin-top: 15px;
}

.day{
	border-bottom: 1px solid #eaeaea;
	padding: 8px;
	display: flex;
	flex-direction: row;
}

.day-weekday {
	font-size: 16px;
	font-weight: bold;
}

.when{
	width: 100px;
	border-right: 1px solid #efefef;
	padding-right: 5px;
	margin-right: 5px;
}

.date {
	font-size: 9px;
	color: #cccccc;
}

.sunrise,.sunset{
	display: flex;
	align-items: center;
}

.sunrise img,.sunset img{
	margin: 4px;
	height: 15px;
	margin-right: 8px;
}



/**Css loader**/
.loader{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(2, 79, 135, 0.9);
	display: none;
	align-items: center;
	justify-content: center;
}

.lds-grid {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-grid div {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
	top: 6px;
	left: 6px;
	animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
	top: 6px;
	left: 26px;
	animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
	top: 6px;
	left: 45px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
	top: 26px;
	left: 6px;
	animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
	top: 26px;
	left: 26px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
	top: 26px;
	left: 45px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
	top: 45px;
	left: 6px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
	top: 45px;
	left: 26px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
	top: 45px;
	left: 45px;
	animation-delay: -1.6s;
}
@keyframes lds-grid {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}